@charset "utf-8";
/* CSS Document */
.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
	text-align: center;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.menu-link-container {
	width: 100%;
	text-align: center;
    margin-bottom: 15px;
    color: #000000;
}

.menu-h1 {
	text-align: center;
	font-size: 27px;
    padding-left: 15px;
    color: #000000;
}


*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color:white;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0;}
.opacity-hover:hover{
	opacity:.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#3268ff;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: grey;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}	
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;}
.hover1:hover{
	cursor:pointer;}
.transparent-btn{
	background:none;
	border:0;}
.action-png {
    width: 20px;
}
.first-btn {
    margin-right: 10px;
}
.pop-out-a{
    color: #55d8ff;	
}
.pop-out-a:hover{
    color: #07c6ff;
	transition:.15s ease-in-out;
	cursor:pointer;		
}
.white-container .line-header {
    color: black;
}
.white-container .line-header:before, .white-container .line-header:after {
    background-color:black;}
.white-container .no-input {
    color: black;
}
.white-container .input-top-p {
    color: #909090;
}
.receipt-img {
    width: 400px;
}
/*Start */
.header1 {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 8px;
}
.logo-img {
    width: 100px;
}
.line-header {
  overflow: hidden;
  text-align: center;
}

.line-header:before,
.line-header:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-header:before {
  right: 0.5em;
  margin-left: -50%;
}

.line-header:after {
  left: 0.5em;
  margin-right: -50%;
}
.grey-bg{
	overflow:hidden;
	background-color:#1a1e27;}
.menu-distance {
    padding-top: 50px;
}
.three-div-width {
    float: left;
    width: 31%;
}
.mid-three-width {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.three-div-width1 {
    float: left;
    width: 31%;
}
.mid-three-width1 {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.margin-bottom50{
	margin-bottom:50px;}
.div1 {
    padding-bottom: 50px;
}
.dark-bg{
	overflow:hidden;
	background-color:#0f1418;}
.padding-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}
    	ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		}
        .demo .item{
            margin-bottom: 60px;
        }
		.content-slider li{
		    background-color: #ed3020;
		    text-align: center;
		    color: #FFF;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		.demo{
			width: 800px;
		}
ul.lSPager.lSGallery {
    display: none;
}
.game-logo-div{
	float:left;
	width:12%;
	margin-right:5.6%;}
.last-game-logo{
	margin-right:0;}
.black-bg {
    background-color: black;
    overflow: hidden;
}
select{
	background-color:white;}
option{
	color:black;}
.games-div {
    padding: 30px;
    border-radius: 15px;
	margin-bottom: 30px;
}
.darkblue-bg{
	background-color:#111725;
	overflow:hidden;}
.result-color-div div{
	float:left;}
.bluered-gradient-bg{
	overflow:hidden;
background: rgba(5,28,54,1);
background: -moz-linear-gradient(left, rgba(5,28,54,1) 0%, rgba(77,6,11,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5,28,54,1)), color-stop(100%, rgba(77,6,11,1)));
background: -webkit-linear-gradient(left, rgba(5,28,54,1) 0%, rgba(77,6,11,1) 100%);
background: -o-linear-gradient(left, rgba(5,28,54,1) 0%, rgba(77,6,11,1) 100%);
background: -ms-linear-gradient(left, rgba(5,28,54,1) 0%, rgba(77,6,11,1) 100%);
background: linear-gradient(to right, rgba(5,28,54,1) 0%, rgba(77,6,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051c36', endColorstr='#4d060b', GradientType=1 );	
}
.result-color-div {
    padding: 30px 50px;
    border-radius: 15px;
	margin-bottom: 30px;
}
.div1a, .div5a, .div9a{
	width:15%;}
.div2a, .div8a{
	width:21%;}

.div4a, .div6a{
	width:5.5%;}
.team-logo {
    width: 50%;
}
.div1a {
    text-align: center;
}
.emerald-bg{
	background-color:#125573;}
.red-bg{
	background-color:#831c21;}
.rate-div {
    margin-top: 55px;
    padding: 10px 20px;
    border-radius: 5px;
}

.arrow-img {
    width: 60%;
}
.div5a {
    text-align: center;
}
.blue-arrow{
	float:right;}
.rate-div1{
	float:right !important;
	    margin-right: 25px;}
.rate-div2{
	margin-left:25px;}
.div9a {
    text-align: center;
}
.footer-p {
    margin: 0;
}
.footer-div {
    background-color: black;
    text-align: center;
    padding: 5px;
    font-size: 14px;
	margin-top: -1px;
}
.bet-team-name {
    margin-bottom: 0;
}
.news-big-div {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    margin-bottom: 50px;
    background-color: #1a2846;
}
.news-image-container {
    height: 300px;
    overflow: hidden;
}
.news-content {
    padding: 15px 30px;
}
.news-title {
    margin: 0;
    font-weight: 800;
    font-size: 21px;
}
.news-date {
    margin-top: 5px;
    color: #b9b9b9;
    font-size: 12px;
    margin-bottom: 0;
}
.news-content-p {
    height: 57px;
    overflow: hidden;
	margin-bottom: 0;
}
.tournament-p {
    text-align: center;
    margin-top: 0;
    font-weight: 800;
	margin-bottom: 30px;
}
.blue-button {
    background-color: #102e74;
    font-size: 18px;
    padding: 7px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
}
.blue-button:hover{
	background-color:#0b2258;
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.login-to-bet {
    margin-left: auto;
    margin-right: auto;
}
.win-png {
    width: 40px;
}
.win-trophy {
    margin-top: 50px;
}
.div2a .win-trophy {
    float: right;
}
.bg1{
	background-image:url(../img/bg1.jpg);
	background-position:top;
	background-size:cover;
	overflow:hidden;}
.about-us-p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
}
.bg2{
	background-image:url(../img/bg2.jpg);
	background-position:top;
	background-size:cover;
	overflow:hidden;}
.left-contact-div {
    width: 50%;
    float: left;
    padding-right: 5%;
}
.right-contact-div {
    width: 50%;
    float: right;
    padding-left: 5%;
}
.contact-p {
    text-align: justify;
}
.contact-icon {
    width: 35px;
    margin-right: 10px;
}
.contact-info-p {
    margin-top: 30px;
    font-size: 20px;
}
.input-name {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
	color:black;}
.input-message {
    min-height: 130px;
	color: black;
}
.opt-msg {
    margin: 0;
    margin-bottom: 8px;
}
.input-submit {
    border: 0;
    padding: 15px;
    width: 100%;
    margin-top: 30px;
}
.form-table td {
    vertical-align: top;
}
.radio1 {
    margin-top: 5px;
}
.black-text{
	color:black;}
.input-top-p {
    color: #b9b9b9;
    margin-bottom: 5px;
    font-size: 12px;
}
.register-modal-content {
    width: 50%;
	margin-top: 100px;
}
.register-button {
    padding: 7px;
    border: 0;
    width: 100%;
    margin-top: 20px;
}
.reg-title {
    margin-top: 0;
    font-weight: 900;
    font-size: 30px;
}
.explain-p {
    color: white;
    text-align: center;
    font-size: 21px;
}
.ping-modal-content {
    width: 40%;
    margin-top: calc(50vh - 250px);
}
.min-height{
	min-height:calc(100vh - 27px);	
}
.goback-btn {
    padding: 7px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.menu-margin-right {
    margin-right: 20px;
}
.eye-icon {
    width: 25px;
}
.password-input {
    width: calc(100% - 35px);
    border: 0;
    margin-bottom: 0;
}
.password-input-div {
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
	background-color: white;
}
.bottom-a {
    color: #102e74;
    font-size: 18px;}
.bottom-a:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	color:#0b2258;
}
	

.left-profile-div {
    width: 160px;
    height: 160px;
    padding-top: 5px;
    border-radius: 50%;
	background:#102e6f;
    overflow: hidden;
}
.vip{
	/*Silver background: linear-gradient(to right, #b3b3b3, #f7f7f7, #afa692, #f9f7e8, #a2a2a2);*/
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);}
.vip-badge {
    height: 16px;
}
.username-p {
    font-size: 18px;
	margin-left: 5px;
}
.profile-png {
    border-radius: 50%;
    width: 150px;
	height: 150px;
}
.invite-link-div {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    padding-left: 20%;
    padding-right: 20%;
}

.shadow-white-div {
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(50,104,255,0.24);
    box-shadow: 0px 0px 15px 5px rgba(50,104,255,0.24);
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.invitation-link-container {
    padding: 10px !important;
    text-align: left;
    overflow: hidden;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
        width: calc(100% - 90px);
}
.invitation-link-a {
    color: black;
}
.copy-btn {
    color: white;
    border: 0;
    font-size: 18px;
    padding: 9px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
	width: 90px;
    float: left;
}
.link-container {
    width: 100%;
    padding: 0 10%;
}
.blue-btn-hover {
    background-color: #3268ff;
}
.blue-btn-hover:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#102e74;	
}
.box-css {
    text-align: center;
    background-color: #162342;
    border-radius: 15px;
    padding: 20px;
}
.box-img {
    width: 30%;
}
.box-p {
    margin-bottom: 0;
    color: #c1c1c1;
}
.box-value {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 24px;
	min-height: 29px;
}
.dual-input {
    width: 48%;
    float: left;
}
.second-dual-input {
    margin-left: 4%;
}
.register-bg{
	background-image:url(../img/bg2.jpg);
	background-size:cover;
}
.big-top-p {
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.match-title {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}
.dual-button {
    float: left;
    width: 200px;
	margin-left: calc(50% - 215px);
}
.second-dual-button {
    margin-left: 30px;
}
.dropdown-png {
    width: 12px;
    margin-left: 5px;
}
.result-p{
	text-align:center;}
.win-color {
    color: #0bcc0b;
}
.lose-color {
    color: #d25353;
}
.table-css{
	width:100%;
	border-collapse:collapse;}
.table-css th {
    text-align: left;
    background-color: #162342;
	padding: 3px 8px;
	vertical-align:top;
}
.table-css td {
	padding: 3px 8px;
	vertical-align:top;
	text-align:left;
}
.table-css > tbody > tr:nth-child(odd) > td{
   background-color: #1f2f40;
}
.table-css > tbody > tr:nth-child(even) > td{
   background-color: #172738;
}
.w3-bottombar {
    border-bottom: 2px solid #ccc!important;
}
.leaderboard-p {
    font-weight: 700;
    font-size: 21px;
}
.glory-board{
	width:100%;
	border-collapse:collapse;
	}
.glory-board th {
    text-align: left;
	padding: 3px 8px;
	vertical-align:top;
	color:black;
}
.glory-board td {
	padding: 3px 8px;
	vertical-align:top;
	text-align:left;
	color:black;
}
.glory-board > thead > tr{
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728);	
	color:black;
}
.glory-board > tbody > tr:nth-child(odd){
  /* background:linear-gradient(to right, rgb(150, 150, 150) 0%, rgb(255, 255, 255) 37%, rgba(254,254,254,1) 69%, rgb(169, 169, 169) 100%);*/
    background: #dabf74;
}
.glory-board > tbody > tr:nth-child(even){
  /* background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728);	*/
      background: #f0e3a2;
}
.place-bet-button {
    border: 0;}
.width103{
	width:103%;}
.repeat-four-width-div {
    width: 22%;
    background-color: white;
    float: left;
    margin-right: 3%;
	margin-bottom: 30px;
}
.product-name-p {
    font-weight: 600;
	margin:0;
}
.product-description {
    padding: 10px;
	background-color: #162342;
}
.price-p {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 21px;
    font-weight: 300;
}
.sold-label {
    background-color: #940909;
    padding: 3px 20px;
    position: absolute;
    margin-top: -28px;
}
.timer-p{
	color:black;
	text-align:center;
	height:21px;
	margin-top:0;
	margin-left:5px;
	float:left;
	}
.timer-png{
	float:left;
	height:21px;
	margin-left:calc(50% - 75px);}
.white-timer{
	color:white;}
.overflow-scroll-div {
    width: 100%;
    overflow: auto;
}
.bet-button{
	border:0;}
.bet-button:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.15s ease-in-out;}
.margin0{
	margin:0;}
.bet-button {
    border: 0;
    width: 150px;
    padding: 3px;
    margin-top: 10px;
	font-size: 15px;
    font-weight: 700;
}
.logo-p1 {
    margin: 0;}
.notice-modal-content {
    width: 50%;
	margin-top: calc(50vh - 200px);
}
.no-input {
    background-color: transparent;
    padding-left: 0;
    color: white;
    font-weight: 900;
	border:0;
}
*::selection {
	    background: #102e74 !important;
		color:white;
		border:0 !important;
}
.red-button, .green-button {
    width: 45%;
    border: 0;
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
}
.red-button{
    background-color: #ff6b6b;	
}
.red-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color: #f35959;}
.green-button {
    background-color: #ffffffab;
    color: black !important;
    text-align: center;
    opacity: 0.8 !important;
    transition: 0.15s ease-in-out;
}
.green-button:hover{
	cursor:pointer;
	opacity:1;
	background-color:white;}
.right-button {
    margin-left: 9%;
}
.hover-bigger{
	transition:.35s ease-in-out;	
}
.hover-bigger:hover{
	width:100%;
	transition:.35s ease-in-out;
	
}
.search-input {
    background-color: transparent;
    border: 0;
    color: white;
	transition:.15s ease-in-out;
    width: calc(100% - 20px);
}
.search-png {
    width: 15px;
}
.search-input-div {
    width: 100%;
    border-bottom: 1px solid white;
	margin-bottom: 20px;
}
.qr-div {
    text-align: center;
}
.qr-png {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 125px;
}
.qr-p {
    color: black;
}
.copy-btc {
    width: 50%;
    margin: 0 auto;
    margin-left: calc(25% - 45px);
	margin-bottom: 10px;
}
.copy-btc2 {
    width:calc(50% + 90px);
    margin: 0 auto;
    margin-left: calc(25% - 45px);
	margin-bottom: 10px;	
}
.vip-upgrade {
    margin: 0 auto;
    margin-top: 20px;
    background-color: transparent;
    transition: .15s ease-in-out;
    border: 2px solid goldenrod;
    color: gold;
}
.vip-upgrade:hover{
	transition:.15s ease-in-out;
	background-color: #405aa530;
	border:2px solid gold;
	cursor:pointer;}
.vip-img{
	height:12px;}
.update-profile-png {
	display:none;
    position: absolute;
    margin-top: -150px;
	margin-left: 5px;
}
.left-profile-div:hover .update-profile-png {
	display:block;}
.blue-a1{
	color:#102e74;
	transition:.15s ease-in-out;}
.blue-a1:hover{
	color:#608ffb;	
	transition:.15s ease-in-out;
	cursor:pointer;
}
.refund-button{
    background-color: #3268ff;
    border: 0;
    border-radius: 3px;
    padding: 2px 10px;
	color:white;
	transition:.15s ease-in-out;
}
.refund-button:hover{
	background-color:#102E79;
	transition:.15s ease-in-out;
	cursor:pointer;	
}
.progressive {
  position: relative;
  display: block;
  overflow: hidden;
}
.progressive img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
}
.progressive img.hide {
  opacity: 0;
}
.progressive img.origin {
  position: absolute;
  left: 0;
  top: 0;
  animation: origin 1.5s ease-out;
}
.progressive img.origin-scale {
  position: absolute;
  left: 0;
  top: 0;
  animation: origin-scale 1s ease-out;
}
@-moz-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.four-div-box{
	float:left;
	width:22%;
	text-align:center;
	padding: 30px 15px;
	    margin-bottom: 35px;}
.left-four-div{
	margin-left:4%;
	margin-right:4%;}
.right-four-div{
	margin-right:4%;}
.four-div-box1{
	float:left;
	width:22%;
	overflow: hidden;

}
.pet-photo-preview {
    width: 100%;
}
.left-four-div1{
	margin-left:4%;
	margin-right:4%;}
.right-four-div1{
	margin-right:4%;}

.white-dropshadow-box{
	-webkit-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.12);
	border-radius: 15px;}
.border-separation{
	margin-top: 60px;
}
.four-div-img {
    width: 50%;
}
.four-div-amount-p {
    font-weight: 800;
    font-size: 27px;
    margin: 0;
}
.two-div-width {
    width: 48%;
	margin-left:1%;
	margin-right:1%;
    float: left;
	margin-bottom: 30px;
	overflow:hidden;
}
.second-two-div-width{
	margin-left:4%;}
/*.left-img-div {
    float: left;
    height: 250px;
    width: 30%;
    background-size: cover;
    background-position: center;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	overflow: hidden;
}*/
.right-content-div {
    float: left;
    width: 70%;
	padding: 15px;
	height: 250px;
	overflow:hidden;
}
.filter-div {
    float: right;
    margin-top: 15px;
}
.filter-icon {
    height: 25px;
}
.filter-btn {
    margin-right: 15px;
}
.filter-a {
    font-size: 18px;
    color: white;
	cursor:pointer;
	opacity:0.8;}
.filter-a:hover{
	opacity:1;}
.four-box-size{
	width: calc(23% - 2px);
    border-radius: 5px;
    float:none;
	display:inline-block;
    margin-right: 1.7%;
    background-color: white;
	margin-bottom: 20px;
}
.width103{
	width:100%;}
.min-height{
	min-height:calc(100vh - 121px);
}
.min-height-with-filter {
    min-height: calc(100vh - 138px);
}
.min-height3{
	min-height:calc(100vh - 168px);
}
.fix-filter {
    position: fixed;
   
	clear: both;
    top: 48px;
	z-index: 2;
}
.filter-distance {
    margin-top: 0px;
}
.filter-modal{
	width: 90%;
    margin-top: 50px;
	overflow: hidden;
}
.filter-border{
	margin-bottom:50px;}

/* The container */
.filter-label, .filter-label2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-label2 {
	font-size:18px;}
/* Hide the browser's default checkbox */
.filter-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.green-filter{
cursor: default !important;}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-label input:checked ~ .checkmark {
  background-color: #7ecbc8;
}
.filter-label3 input:checked ~ .checkmark {
  background-color: #3da0e6;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filter-search {
    border: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
	margin-bottom: 10px;

}
.filter-search-img {
    width: 20px;
}
.filter-search-btn {
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}
.filter-option {
    width: 20%;
    float: left;
    padding-right: 20px;
}
.filter-div-section {
    overflow: hidden;
    border-bottom: 1px solid #dadada;
    padding-bottom: 20px;
    margin-bottom: 30px;
}


.button-label {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
  width: 120px;
  text-align: center;
  cursor: pointer;
  color: #a5a7aa;
  border:1px solid #a5a7aa;
  border-radius: 20px;
  background: white;
  font-weight: 300;
  font-size:18px;
  margin-left:30px;
}

.button-label:hover {
  background:#7ecbc8;
  color:white;
  border:1px solid #7ecbc8;
}
.radio-label:checked + .button-label {
  background: #7ecbc8;
  color: white;
}
.radio-label:checked + .button-label:hover {
  background: #7ecbc8;
  color:  white;
}

.hidden {
  display: none;
}
.distance-slider {
    margin-top: 50px;
	padding: 0 20px;
	cursor: pointer;
}

.ui-slider-handle:focus{
	outline: none !important;
	outline-offset: 0  !important;
}
.ui-slider-handle:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.ui-slider-handle:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.ui-slider-handle::selection {
	outline: none !important;
	outline-offset: 0  !important;
}
.mid-btn-margin{
	margin-left:calc(50% - 150px);}

.left-image-div {
    width: 500px;
    float: left;
}
.menu-distance3 {
    margin-top: 83px;
}

.lSSlideOuter .lSPager.lSGallery li{
	width:95px !important;
	    height: 95px;
    margin-bottom: 10px;}
.lSSlideOuter .lSPager.lSGallery{
	width:100% !important;}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 95px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.sold-label {
    background-color: #7ecbc8;
    color: white;
    padding: 5px;
    width: 80px;
    text-align: center;
	position: absolute;
    font-size: 21px;
    margin-top: -35px;}
.right-content-div2{
	float:left;
	width:calc(100% - 500px);
	padding-left: 50px;}
.breed-p {
    margin: 0;
}
.pet-name {
    margin-top: 5px;
	margin-bottom: 0;
}
.price-p2 {
	float: left;
    margin-top: 5px;
    font-weight: 900;
    font-size: 24px;
    color: black;
}
.right-info-div {
    float: right;
	margin-top: 5px;
}
.right-info-div {
    float: none;
    margin-top: 5px;
    clear: both;
    margin-bottom: 20px;
}
.contact-icon img {
    width: 25px;
	margin-right: 25px;
}
.last-contact-icon img{
    margin-right: 0;
}
.contact-icon img:hover{
	cursor:pointer;}
.grey-p {
    color: #8a8a8a;
}
.seller-profile-div {
    width: 200px;
    float: left;
}
.seller-profile {
    width: 100%;
}
.right-seller-details {
	padding-left: 30px;
    float: left;
    width: calc(100% - 200px);
}
.seller-name-h1 {
    margin-top: 0;
    color: black;
	font-size: 24px;
}
.seller-h1 {
    font-size: 27px;
}
.grey-p {
    color: #989898;
}
.left-review-p, .left-review-mark, .right-review-star{
	float:left;
}
.left-review-mark {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.star-img {
    width: 22px;
}
.min-height2 {
    min-height: calc(100vh - 151px);
}
.a2a_default_style a {
    margin-right: 10px;
    margin-bottom: 10px;
}
.sticky-call-div{
	display:none;
	width: 100%;
	position: fixed;
    bottom: 40px;
    background-color: white;}

.sticky-call-style {
    font-size: 18px;
    padding: 4px 0;
    border: 1px solid #a49898;
    color: #a49898;
}
.sticky-distance2 {
    height: 43px;
}
.left-address-info {
    float: left;
    margin-bottom: 30px;
    width: calc(100% - 160px);
}
.review-div{
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	width:100%;
	overflow:hidden;
	margin-bottom: 30px;}
.right-arrow {
    float: right;
}
.big-info-div {
    margin-bottom: 80px;
}
.sold-label2 {
    background-color: #7ecbc8;
    color: white;
    padding: 5px;
    width: 80px;
    text-align: center;
    position: absolute;
    font-size: 21px;
	margin-top:30px;
}
.left-review-profile {
    width: 50px;
    float: left;
}
.left-review-profile img{
    width: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.pointer:hover{
	cursor:pointer;}
.left-review-data {
    float: left;
    margin-left: 30px;
}
.review-username-p {
    margin-bottom: 5px;
    margin-top: 0;
    color: black;
    font-weight: 900;
}
.right-review-div {
    float: right;
}
.react-button img {
    width: 30px;
}
.review-date {
    color: #a5a5a5;
    font-size: 14px;
}
.one-row-review {
    border-bottom: 1px solid #bbbdbf;
    clear: both;
	padding-top: 30px;
    padding-bottom: 10px;
	padding-left: 5%;
    padding-right: 5%;
}
.one-row-review-admin {
    border: 2px solid #bbbdbf;
    clear: both;
	padding-top: 30px;
	padding-left: 5%;
	box-shadow: 2px 2px 4px #000;
	border-radius: 10px;
	width: 50%;
}
.review-content-p {
    font-size: 18px;
}
.margin-top-bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.report-modal-margin{
	margin-top: calc(50vh - 150px);}
.review-textarea {
    min-height: 100px;
}
.review-modal-margin{
	margin-top: 100px;
}
.partners-search-div{
	float:left;
	width:40%;
	margin-top: 5px;
	margin-left: calc(30% - 123.77px);}
.seller-rating {
    width: 13px;
}
.seller-name {
    color: black;
    font-weight: 900;
}
.slider-services {
    font-size: 14px;
	text-align: center;
}
.ow-margintop0{
	margin-top:0 !important;}
.grey-to-green{
	color:#a5a7aa;}
.grey-to-green:hover{
	color:#1c4564;
	cursor:pointer;
	transition:.15s ease-in-out;}
.product-btn {
    font-size: 16px;
}
.product-filter-a {
    float: right;
    margin-top: 25px;
}
.sold-color{
	color:#f99595;}
.left-price {
    float: left;
}
.right-like {
    float: right;
    width: 20px;
}
.rating-tiny-star {
    width: 15px;
    margin-left: 2px;
}
.left-rating {
    float: left;
	margin-top:0;
	margin-bottom:0;
}
.right-sold {
    float: right;
	margin-top:0;
	margin-bottom:0;
}
.product-price-width{
	width:calc(100% - 25px);}
.contain1000{
	float:left;
	margin-right: 25px;}
.product-details-p{
	text-align:center;}
	.block{
	display:block;}
.grey-to-lightgreen{
	color:#989898;}
.grey-to-lightgreen:hover{
	color:#7ecbc8;
	cursor:pointer;
	transition:.15s ease-in-out;}
.beside-right-arrow {
    float: right;
    margin-right: 20px;
}
.upper-review-div {
    margin-bottom: 0;
    border-bottom: 0;
}
.top-divider {
    margin-top: 50px;
}
.red-btn {
    text-align: center;
    color: white;
    background-color: #f99595;
	padding: 10px 0;
}
.red-btn:hover{
    background-color: #f95a5a;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.sticky-distance3 {
    height: 80px;
}
.variation-img{
	width:100%;
}
.variation-left-div {
    float: left;
    width: 400px;
}
.block2{
	display:block;}
.variation-btn {
    width: 100%;
	text-align: left;
}
/* Change background color of buttons on hover */
.tab .variation-btn:hover {
	color:#1c4564;
	transition:.15s ease-in-out;
	border-bottom:0;
}

/* Create an active/current tablink class */
.tab .variation-btn.active {
	color:#1c4564;
	transition:.15s ease-in-out;
	border-bottom:0;
}
.variation-tab {
    border-top: 0;
    float: left;
    width: calc(100% - 400px);
}
.variation-hidden-div {
    margin-left: 50px;
}
.left-stock-p {
    float: left;
    color: #adadad;
	margin-top:0;
	margin-bottom:0;
}
.right-price-p {
    float: left;
    margin-left: 200px;
	color: #adadad;
	margin-top:0;
	margin-bottom:0;
}
.quantity-p {
    float: left;
}
.right-amount-p {
    float: left;
    margin-left: 210px;
}
.quantity-label{
    border: 0;
	font-weight: 700;
	float: left;
}
.numbers-row-css  {
    float: left;
    margin-left: 210px;
	margin-top: 10px;
}
.button2{
	cursor:pointer;}
.inc {
    float: left;
}
.dec {
    float: left;
}
.add-minus {
    width: 28px;
}
.quantity-input{
	float:left;
	width:50px;
	border:0;
	text-align:center;
	font-size: 18px;
}

.left-total-p {
    float: left;
    color: #adadad;
    margin-left: 10px;
    font-size: 24px;
}
.right-total-price {
    float: right;
    color: black;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 24px;
    margin-right: 20px;
}
.variation-bottom-div {
    overflow: hidden;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 0;
	background-color: white;
}
.purchase-bottom-div {
    width: 89.9%;
    margin-left: -20px;
    position: fixed;
	bottom: 5vh;
}
.variation-modal-css {
    padding-bottom: 110px;
    height: 90vh;
    overflow: auto;
    margin-top: 5vh;
}
.left-orange-div {
    width: 50%;
    float: left;
    border-radius: 0;
	margin-top:0;
	padding: 10px;
}
.right-red-div {
    width: 50%;
    float: left;
    border: 0;
    margin-bottom: 0;
}
.left-orange-div, .right-red-div {
	font-size:18px;}
.tab-tab-btn {
    width: 25%;
	padding: 5px !important;
}
.tab-tab-btn:hover .tab-tab-p{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.tab-tab-btn:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	border-bottom: 1px solid #7ecbc8 !important;
}
.sticky-tab-tab {
    width: 100%;
	border-top: 0;
    border-bottom: 1px solid #e4e5e6;
	position: fixed;
    background-color: white;
	z-index: 99;
}
.tab-tab-btn.active{
	border-bottom: 1px solid #7ecbc8 !important;
}
.tab-tab-btn.active .hover1a{
	display:none !important;
}
.tab-tab-btn.active .hover1b{
	display:inline-block !important;
}
.tab-tab-btn.active .tab-tab-p{
	color:#7ecbc8 !important;
}
.tab-tab-p {
    margin: 0;
    font-size: 15px;
}
.tab-icon {
    width: 35px;
}
.two-menu-space {
    height: 81px;
}
.green-dot {
    background-color: #7ecbc8;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: calc(12.5% + 10px);
    margin-top: -2px;
    position: absolute;
}
.min-height4 {
    min-height: calc(100vh - 202px);
}
.right-delete {
    float: right;
    padding: 0;
    font-size: 18px;
    color: red;
}
.right-delete:hover{
	color:#d00000;
	cursor:pointer;
	transition:.15s ease-in-out;}
.variation-label {
    margin-bottom: 0;
}
.left-cart-img-div {
    float: left;
    width: 15%;
	margin-right: 10px;
}
.left-product-details {
    float: left;
    width: calc(85% - 25px);
}
.cart-product-title {
    font-weight: 900;
    font-size: 24px;
    margin-top: 0;
}
.left-quantity1{
	float: left;
    margin-top: 0;
    margin-bottom: 0;
	color: #adadad;}
.left-shipping1{
	float: left;
    color: #adadad;
}
.cart-numbers {
    margin-left: 250px;
	margin-top: 0;
}
.right-rm2 {
    float: left;
    margin-left: 145px;
	margin-top:0;
	font-weight: 900;
}

.right-rm {
    font-weight: 900;
    margin-left: 310px;
}
.left-total {
    float: left;
    margin-top: 0;
	color: #adadad;
}
.close-img{
	width:25px;
	cursor:pointer;}
.per-product-div{
	border-bottom:1px solid #adadad;
	overflow: hidden;
	padding-top: 20px;
    padding-bottom: 10px;
	}
.voucher-option {
    margin-top: 30px;
}
.voucher-exp {
    font-size: 14px;
    color: #adadad;
}
.left-bottom-price{
	float:left;
	margin-bottom:0;}
.right-bottom-price{
	float:right;
	margin-bottom:0;}
.checkout-btn {
    width: 500px;
    margin-bottom: 0;
	margin-bottom:10px;
}
.sticky-bottom-price {
    background-color: white;
    position: fixed;
    bottom: 43px;
    width: 100%;
    margin-left: -8.2%;
}
.no-sticky-bottom{
    background-color: white;
    width: 100%;
}
.with-margin-bottom{
	margin-bottom: 16px;}
	.sticky-distance-bottom{
	width:100%;
	min-height:110px;}
.right-product-x {
    float: right;
}
.weight900{
	font-weight:900;}
.ship-right-info {
    float: left;
    width: 80%;
    padding-left: 20px;
}
.right-ship-amount {
    font-size: 18px;
	color:#adadad;
}
.right-ship-price {
    font-weight: 700;
    font-size: 21px;
}
.receive-price {
    margin-top: 0;
}

/*Uploaded*/

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.uploader-label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
uploader-label:hover {
  border-color: #454cad;
}
uploader-label.hover {
  border: 3px solid #7ecbc8;
  box-shadow: inset 0 0 0 6px #eee;
}
uploader-label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: .5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: -webkit-gradient(linear, left top, right top, from(#393f90), color-stop(50%, #7ecbc8));
  background: linear-gradient(to right, #393f90 0%, #7ecbc8 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #7ecbc8 50%);
  border-radius: 4px;
}
.uploader-input{
  display: none;
}
.uploader-div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #7ecbc8;
  border-color: #7ecbc8;
  cursor: pointer;
}
.back-button {
    width: 25px;
}
.top-text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.bottom-text {
    margin: 0;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.dual-div {
    width: 48%;
    float: left;
}
.second-dual-div {
    margin-left: 4%;
}
.dual-div {
    width: 48%;
    float: left;
    margin-bottom: 20px;
}
.order-table {
    width: 65%;
    margin-top: 10px;
	font-size: 20px;
	border-collapse: collapse;
}
.order-table th {
    text-align: left;
    border: 1px solid gainsboro;
	padding: 5px;
	vertical-align:top;
}
.order-table td {
    border: 1px solid gainsboro;
	padding: 5px;
	vertical-align:top;
}
.price-column{
	text-align:right !important;
}

.price-table {
    font-size: 20px;
    border-collapse: collapse;
    text-align: right;
    width: calc(20% - 5px);
    margin-left: 45%;
	margin-bottom: 20px;
}
.price-table td{
	vertical-align:top;}
.some-margin-bottom{
	margin-bottom:30px;}
.copy-png {
    width: 20px;
}
.price-padding{
	padding-left:20px;}
.height-restrict{
	height:270px;
	overflow:hidden;}
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {

    overflow: hidden;
}
/* Rating*/

    .rating {
      --star-size: 3;  /* use CSS variables to calculate dependent dimensions later */
      padding: 0;  /* to prevent flicker when mousing over padding */
      border: none;  /* to prevent flicker when mousing over border */
      unicode-bidi: bidi-override; direction: rtl;  /* for CSS-only style change on hover */
      text-align: left;  /* revert the RTL direction */
      user-select: none;  /* disable mouse/touch selection */
      font-size: 3em;  /* fallback - IE doesn't support CSS variables */
      font-size: calc(var(--star-size) * 1em);  /* because `var(--star-size)em` would be too good to be true */
      cursor: pointer;
      /* disable touch feedback on cursor: pointer - http://stackoverflow.com/q/25704650/1269037 */
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
      margin-bottom: 30px;
    }
    /* the stars */
    .rating > label {
      display: inline-block;
      position: relative;
      width: 1.1em;  /* magic number to overlap the radio buttons on top of the stars */
      width: calc(var(--star-size) / 3 * 1.1em);
    }
    .rating > *:hover,
    .rating > *:hover ~ label,
    .rating:not(:hover) > input:checked ~ label {
      color: transparent;  /* reveal the contour/white star from the HTML markup */
      cursor: inherit;  /* avoid a cursor transition from arrow/pointer to text selection */
    }
    .rating > *:hover:before,
    .rating > *:hover ~ label:before,
    .rating:not(:hover) > input:checked ~ label:before {
      content: "★";
      position: absolute;
      left: 0;
      color: gold;
    }
    .rating > input {
      position: relative;
      transform: scale(3);  /* make the radio buttons big; they don't inherit font-size */
      transform: scale(var(--star-size));
      /* the magic numbers below correlate with the font-size */
      top: -0.5em;  /* margin-top doesn't work */
      top: calc(var(--star-size) / 6 * -1em);
      margin-left: -2.5em;  /* overlap the radio buttons exactly under the stars */
      margin-left: calc(var(--star-size) / 6 * -5em);
      z-index: 2;  /* bring the button above the stars so it captures touches/clicks */
      opacity: 0;  /* comment to see where the radio buttons are */
      font-size: initial; /* reset to default */
    }
    form.amp-form-submit-error [submit-error] {
      color: red;
    }
.rating > *:hover:before, .rating > *:hover ~ label:before, .rating:not(:hover) > input:checked ~ label:before {
    content: "★";
    position: absolute;
    left: 0;
    color: #f5921e;
}
.slug-p{
	min-height:25px;}
.filter-div form{
	float:left;
}
.left-product-price {
    float: left;
    width: calc(100% - 25px);
}
.block-a {
    display: block;
    position: absolute;
    width: 23%;
    min-height: 23vw;
	z-index: 1;
}
.malay-pet-a{
	width: 41.5% !important;
    height: 300px !important;
	min-height:0 !important;
}
#myTable th {
    padding: 5px !important;
}
/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark2 {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark2:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.detail-sold-label {
    margin-top: -150px;
}
.slider-second-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.slider-header {
    border-bottom: 0;
}
.slider-body {
    width: 100%;
    overflow: hidden;
}
.slider-cropping-div {
    width: 100%;
    overflow: hidden;
}
/*
.slider-cropping-div .cr-boundary{
    width: 100% !important;
}
.slider-cropping-div .cr-image {
    width: 100% !important;
}
.slider-cropping-div .cr-viewport.cr-vp-square {
    width: 100% !important;
}
.slider-cropping-div .cr-overlay {
    width: 100% !important;
}*/
.update-photo-p {
    font-weight: 900;
    margin-top: 50px;
}
.slider-panel-body {
    padding: 0;
}
.slider-header .modal-title {
    text-align: center;
    font-weight: 800;
}
.recommend-p {
    text-align: center;
    font-size: 16px;
    padding: 0 50px;
}
.slider-cropping-div .cr-viewport{
	width:800px;
	height:308px;}
.slider-cropping-div .cr-boundary {
    width: 800px;
    height: 350px;
}
.slider-cropping-div .cr-slider-wrap{
    width: 800px;
}
.sticky-call-div td {
    padding: 7.5px 0;
}
.call-td {
    background-color: orange;
}
.call-td a, .whatsapp-td a {
    color: white;
}
.whatsapp-td{
	background-color:#13b750;}
.call-button-img {
    margin-right: 108px;
}
.profile-whatsapp-a{
	margin-left:0;
	margin-right:0;}
.profile-right-info .contact-icon img{
	margin-left:0;
	margin-right:0;	}
.call-button-img {

    margin-right: 20px;
    margin-left: 78px;
}
.border-top-profile {
    border-top: 1px solid #e4e5e6;
    margin-top: 15px;
}
.slider-h1-a {
    margin-top: 8px;
}
.important-text {
    color: #f9a100;
}
.pet-table td {
    padding-right: 10px;
}
.green-filter{
	padding-left:0;
	color:white;}
.big-filter-margin {
margin: 0 !important;
    width: 100% !important;
    min-height: 100vh !important;
}
.modal-a-size {
    font-size: 18px;
}
.signup-spacing {
    margin-top: 10px;
}
.upper-close{
	margin-top: -50px;
}
.forgot-h2 {
    margin-bottom: 50px;
}
.seller-services-div {
    height: 53px;
}
.upload-preview {
   	margin-top: 20px; 
    margin-bottom: 20px;
    width: 16.5%;
	cursor:pointer;
}
.upload-preview-actions {
    margin-top: 5px;
}
.red-a {
    color: #ff6868;
	transition:.15s ease-in-out;
	cursor:pointr;
}
.red-a:hover{
	color:#e83232;
	transition:.15s ease-in-out;
	cursor:pointr;}
.image-container1 {
    height: 235px;
}
.upload-preview img{
	max-width: 100%;
    max-height: 235px;	
}
.pointer-div img {
    cursor: pointer;
}
.dropzone{
	border: 0 !important;
	background: #e9fffe !important;
	border-radius: 10px !important;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
    opacity: 0;}
.dropzone .dz-preview.dz-image-preview {
    margin: 0 !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    background-color: transparent !important;
	width: calc(16.6% - 20px);
}

.dropzone .dz-preview .dz-image {
    border-radius: 0 !important;}
.dropzone .dz-preview .dz-image{
	height:auto !important;
	width: 100% !important;}

.dropzone .dz-preview .dz-image img{
	width:100% !important;}
.square {
  position: relative !important;

}

.square:after {
  content: "" !important;
  display: block !important;
  padding-bottom: 100% !important;
}

.content {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
.content a, .content img{
	height:100% !important;}
.square {
  position: relative !important;

}

.square:after {
  content: "" !important;
  display: block !important;
  padding-bottom: 100% !important;
}

.content {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
.content a, .content img{
	height:100% !important;
	width: 100% !important;
    object-fit: contain;}
.all-pets-sold {
    margin-top: -40px;
}
.pet-ul{
	height:500px !important;}
.profile-table {
    width: 100%;
}
.profile-table td {
    width: 16.6%;
	height: 100%;
	text-align:center;
	padding-left: 10px;
    padding-right: 10px;
}
.image-select {
    width: 100%;
}
.six-box2 {
    width: calc(16.6% - 20px);
    margin-right: 20px;
    float: left;
}
.profile-td-td{
	width:100%;}
.td-box {
    width: 100%;
}
.profile-table img{
	vertical-align:top !important;
}
.profile-td-td td{
	width: calc(16.6% - 20px);}
.update-photo-btn {
    font-size: 14px;
}
.partner-img {
    width: 10.5%;
    margin-right: 9%;
}
.variation-img2 {
    width: 200px;
    margin-top: 10px;
}
.variation-big-big-div {
    margin-top: 30px;
}
.grey-td {
    color: #ababab;
    padding-right: 10px;
	width: 160px;
}
.cart-details-table {
    width: 100%;
    text-align: left;
	
}
.color-span {
    color: #ffa656;
	transition: .15s ease-in-out;
}
.color-span:hover{
    color: #ff9331;
	cursor: pointer;
	transition: .15s ease-in-out;
}
.horizontal-h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #d8d8d8; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-size: 14px;
} 

.horizontal-span { 
    background:#fff; 
    padding:0 10px;
	color: #d8d8d8;
}
.fb-icon1 {
    height: 16px;
    margin-right: 20px;
    margin-top: -3px;
}
.some-margin-top {
   padding-top: 20px;
}
.contact-seller {
    padding-left: 10px;
    padding-right: 10px;
	color: white !important;
	margin-top: 10px;
    display: block;
}
.stay-bottom-height {
    height: 80px;
    width: 100%;
}
.view-all-btn {
    width: 400px;
    margin-left: auto;
    margin-right: auto;}
.empty-h1{
	color:black;
	font-size: 32px;}
.grey-border2{
	border-bottom: 1px solid #adadad;
}
.one-border{
	    border-bottom: 1px solid #adadad;
		width:100%;
		height:10px;}
.cart-product-title {
    font-size: 19px;}
.payment-title {
    margin-bottom: 40px;
    font-weight: 700;
}
.success-text {
    color: black;
    font-size: 17px;
}
.view-order-btn{
	text-align: center;
    margin: 50px auto;
	}
.oz-form {
    display: inline-block;
}
.oz-btn {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #4bcc9c;
    color: white;
    padding: 0;
}
.oz-p{
	display:inline-block;
	width:40px;
	text-align:center;}
.quantity-td {
    width: 110px !important;
}
.ow-input-top-p {
    margin-bottom: 0;
}
.text-center-important, .text-center-important input{
	text-align:center !important;}
.ow-sticky-distance-bottom{
	min-height:158px;}
.ow-bottom-css{
	margin-left:0 !important;
	bottom: 0 !important
	}
.ow-per-product{
	border:0 !Important;
	padding-bottom: 0 !important;
	padding-top: 10px !important;}
.ow-fb-button{
	background-color: #4064ac !important;
    margin-bottom: 15px;}
.ow-fb-button:hover{
	background-color: #23417c !important;
	cursor: pointer;
	transition: .15s ease-in-out;
}
.ow-price-bottom {
    width: 101.5% !important;
}
.ow-variation-input-group {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.ow-variation-input-group .quantity-field{
	text-align:center;
	width:calc(100% - 100px);}
.ow-pet-details-div{
	margin-top:100px !important;}
.ow-checkout .sticky-distance-bottom{
	min-height:140px;}
.ow-product-big-div .slider-product-price {
    width: calc(100% - 25px);
    float: left;
}
.ow-product-big-div .right-like{
	float:right;
	margin-top:0;
	width: 25px;}
/* Overwrite */
.ow-obvious {
    background-color: #ffb631 !important;
    color: white !important;
    font-weight: 400 !important;
    padding: 2px 10px !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
}
.ow-obvious:hover{
	background-color: orange !important ;
	color: white !Important;
	cursor: pointer;
	transition: .15s ease-in-out;
}
.checkout-per-div .left-product-details {
    width: calc(85% - 10px);
    margin-left: 10px;
}
.ow-peach-bg-hover{
	background-color:#f99595;	
}
.ow-peach-bg-hover:hover{
	background-color:#ff7979;
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.ow-puppy-btn{
	margin-top:0 !important;}
a:focus{
	outline:none !important;}
.label-text {
    margin-bottom: 2px;}
.inline50-div{
	width:48%;
	display:inline-block;
}
.second-inline50 {
    margin-left: calc(4% - 3px);
}
.line-select {
    border: 0 !important;
    border-bottom: 1px solid #9c9c9c !important;
    width: 100%;
	    background-color: white !important;
		color:black;
}
.line-select:focus{
    border: 0 !important;
    border-bottom: 1px solid #9c9c9c !important;
	outline:none !important;
    width: 100%;	
	}
.fav-div .contact-icon {
    display: inline;
}
.left-product-img {
    width: 150px;
	display: inline-block;
	vertical-align: top;
}
.right-product-details {
    width: calc(100% - 170px);
    margin-left: 10px;
    display: inline-block;
}
.product-name {
    font-weight: 800;
    font-size: 17px;
	margin-bottom: 5px;
	float: left;
    width: calc(100% - 60px);
}
.product-price {
    font-size: 12px;
	margin-top: 0;
}
.product-description {
    font-size: 12px;
    color: #989898;
}
.more-details{
    float: right;
}
.content-height {
    height: 110px;
    overflow: hidden;
}
.value-input-div {
    width: 80px;
	margin: 0 !important;
	    margin-left: 2px;
    margin-right: 2px;
color: white;
    border: 0;
    background-color: black;
    border-bottom: 1px solid white;		
}
.math-size {
    width: 30px;
}
.quantity-p2 {
    float: left;
    font-size: 14px;
    margin-right: 10px;
	margin-top: 5px;
}
.math-button2 {
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    width: 30px;
    height: 30px;
	color: black;
}
.stay-bottom-add {
    position: fixed;
    bottom: 0;
    background-color: white;
    left: 0;
}
.mid-price {
    font-size: 21px;
    margin-top: 10px;
}
.first-line{
	border-top: 1px solid #e4e5e6;
}
.light-green-a2 {
    color: #4ea09d;
    transition: .15s ease-in-out;
}
.light-green-a2:hover{
	color:#2d6f6d;
	transition:.15s ease-in-out;
	cursor:pointer;	
}
.view-review-div {
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
	transition:.15s ease-in-out;
}

.view-review-div p{
	margin:0 !important;}
.left-review-text {
    float: left;
    width: 90px;
}
.right-arrow2 {
    float: right;
}
.view-review-div2 {
    border-top: 0;
    margin-top: 0;
}
.last-li {
    padding-bottom: 50px;
}
.center-div2 {
    margin-left: auto;
    margin-right: auto;
}
.margin-bottom30{
	margin-bottom:30px;}
.data-text p{
	color:grey;}
.menu-distance1 {
    margin-top: 50px;
}
.back-png2 {
    height: 35px;
    margin-right: 10px;
}
.slider {
  width: 500px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 0;
  height:0;
}
.slides::-webkit-scrollbar-thumb {
  background:transparent;

}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > .slides-img {
  scroll-snap-align: start;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 500px;
  margin-right: 50px;


  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
      object-fit: contain;
}
.slides > .slides-img:target {
/*   transform: scale(0.8); */
}
.link-small-img{
	width:20px !important;
	height:20px;}
.slides-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;

  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.a-container {
    overflow: hidden;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}
.small-a{
    width: 95px !important;
    height: 95px;
    margin-bottom: 10px;
	overflow:hidden;
	display:inline-block;
}
.link-small-img{
    display: block;
    height: auto;
	width: 100% !important;
    max-width: 100%;
    max-height: 95px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
	margin-bottom:10px;
}

.ow-font-weight400{
	font-weight:400 !important;}
.ow-margin-bottom0{
	margin-bottom:0 !important;}
.ow-tab-content{
	padding-left:0 !important;
	padding-right:0 !important;	
}
.ow-invoice-css p {
    color: black;
    font-size: 16px;
	margin-bottom: 15px;
}
.ow-show-modal {
    display: block;
    position: relative !important;
    z-index: 1 !important;
    left: inherit !important;
    top: inherit !important;
    width: 20% !important;
    float: left !important;
    height: auto !important;
	margin-left: 7.5% !important;
    background-color: transparent !important;
    padding-right: 30px !important;
	padding-top: 0px !important;
}
.ow-show-modal .close-filter2, .ow-show-modal .filter-border{
	display: none;

}
.ow-show-modal .h2-title {
    margin-bottom: 10px;
}
.ow-show-modal .filter-div-section {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.ow-show-modal .filter-search-ow{
	font-size: 14px;
}
.ow-show-modal .big-filter-margin{
	padding: 0;
}
.ow-show-modal .visible-img{

    width: 15px;
    margin-bottom: 2px;
}
.ow-show-modal p, .ow-show-modal h2, .ow-show-modal label{
	font-size: 14px !important;
}
.ow-show-modal .filter-option {
    width: 100%;
}
.ow-show-modal .distance-slider {
    margin-top: 0;
    margin-bottom: 10px;
}
.ow-filter-pet-data {
    float: left !important;
    width: 65% !important;
    padding-top: 10px;
    padding-left: 10px;
}
.ow-open-filter{
	display: none;
}
.container12 {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.product-big-box {
    width: 100% !important;
	padding: 10px;
}
.mobile-display, .show-display-btn{
display: none;}
.web-display{
display: block;}
/* my fake page */
.fake-page-div {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
	padding: 50px 10%;
	padding-top: 10px;
}
.fake-page-div .quantity-p2{
	float:none;
	text-align:center;}
.center-div{
	margin-left:auto;
	margin-right:auto;	
	}
.fake-page-div .input-quantity-div {
    position: fixed;
    bottom: 53px;
    left: 0;
    width: 100%;
    background-color: white;
}

.bottom-height1 {
    height: 150px;
    width: 100%;
}
.big-content-div {
    width: 100%;
    overflow: hidden;
}
.notice-modal-ow h1{
	margin-top:0 !important;}
.notice-modal-ow .notice-modal-content{
	padding-bottom: 60px;}
.pet-table td {
    padding-bottom: 15px;
}
.video-iframe {
    height: 500px;
	width: 100%;
}
.rating-star2 {
    width: 15px;
}
.rating-img-p {
    margin-bottom: 0;
}
.variation-div {
    padding-top: 10px;}
/* Radio Button*/


.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 5px;
	width: auto;
	font-size: 12px;
	
	margin: 0 auto;
	margin-right: 5px;
	margin-top: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	
   
}
.checkbox-budget:not(:checked) + label{
	background-color:#ffffffb0;
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
	 color: black;
}
.checkbox-budget:checked + label{
	background-color: white;
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
	color:black;
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
	background-color:white;
	
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: white;
	z-index: -1;
	color:black;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	
    
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
	background-color: white;

	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label{
	background-color: white;

}
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label::after,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label::after{
	background-color: light;
}
/* End of Radio Button */
.var-img{
	height:20px;
	width:auto;
	margin-left: 5px;}
.chat-bubble-div {
	width: 100%;
	overflow: hidden;
    margin-bottom: 15px;
}
.chat-bubble {
    margin: 0;
	color: white;
	background: #7ecbc8;
    padding: 0 10px;
    border-radius: 10px;
}
.chat-section {
    height: calc(100vh - 220px);
	overflow-y: scroll;
	display: block;
	border-top: 0.5px solid grey;
	border-bottom:0.5px solid grey;
    padding-top: 20px;
	margin-top:10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-section::-webkit-scrollbar {
    display: none;
}

.username-date {
    font-size: 12px;
    color: #ababab;
	margin: 0;
}
.send-message {
    width: 100%;
    margin-top: 15px;
	float: left;
    width: calc(100% - 60px);
}

.send-button {
    border: 0;
    background-color: #7ecbc8;
    color: white;
    border-radius: 3px;
	float: left;
	margin-left: 5px;
    padding: 3px 5px;
    margin-top: 14px;
	transition: .15s ease-in-out;
}

.send-button:hover{
	transition: .15s ease-in-out;
	cursor: pointer;
	background-color:#1c4564;
}
.user-chat {
    width: auto;
    max-width: 70%;
    float: right;
	clear:both;
}
.reply-message {
    width: auto;
    max-width: 70%;
    float: left;
	background-color:#e4e4e4;
	color:black;
	clear:both;
}
.chat-date{
	text-align:center;
	font-size:10px;
	color:#9e9e9e;
	clear:both;}
.ow-peach-bg{
	background-color: #ffb631;
	transition:.15s ease-in-out;
}
.ow-peach-bg:hover{
	background-color: orange !important;
	}
.small-padding3{
    padding-left: 17.5%;
    padding-right: 17.5%;
}
.product-big-div2 .four-box-size{
	float:left;
}	
.border0{
	border:0;}

.chat-me {
    margin-top: 20px;
	margin-bottom:10px;
	text-align: center;
    border-radius: 20px;	
}
.ow-square-btn {
    font-size: 18px !important;
    padding: 5px !important;
}
.ow-value{
	width: calc(100% - 70px) !important;
	}
.price-p2z{
	font-size:11px !important;
	margin: 2px 0 !important;}
.ow-width100a {
    width: 100% !important;
   
}
.glider.draggable .glider-slide img {
    object-fit: contain;
}
.shadow-white-box.opacity-hover:hover{
	opacity:1 !Important;
	-webkit-box-shadow: 0px 0px 7px 5px #7ecbc87a;
    box-shadow: 0px 0px 7px 5px #7ecbc87a;
	vertical-align: top;
	
}
a{vertical-align: top;}
.product-details-ow .star-img {
    width: 12px;
    margin-bottom: 15px;
}
.product-details-ow .price-p2 {
    font-size: 24px;
    font-weight: 900 !important;
    margin-top: 0;
	color:white;
}
.ow-dual-button {
    display: inline-block;
    width: 45% !important;
}
.second-dual {
    margin-left: calc(10% - 5px) !important;
}
.ow-raiting-p {
    float: left;
	    margin-top: 10px;
}
.ow-fav-div {
    float: right !important;
    clear: none !important;
}
.no-rating-p {
    margin-top: 15px;
}
/* */
.ow-game-logo .game-logo-div{
	margin-right: 17%;
}
.ow-game-logo .last-game-logo{
	margin-right: 0;
}
.ow-bluered .arrow-img {
    width: 45%;
}
.ow-bluered  .team-logo {
    width: 12%;
}
.ow-bluered .div1a, .ow-bluered  .div5a, .ow-bluered  .div9a {
    width: 29%;
}
.ow-bluered{
	padding:10px !important;}
.dl-menuwrapper button:after {
    box-shadow: 0 8px 0 #fff, 0 16px 0 #fff !important;
	height: 2px !important;
}
.dl-menuwrapper .dl-menu.dl-menuopen{
	background-color: #000000 !important;
	    min-height: 100vh;
    padding-bottom: 50px;
}
.ow-margin-bottom10{
	margin-bottom:10px !important;}
.margin-top10{
	margin-top:10px;}
.margin-top20{
	margin-top:20px;}
.margin-top30{
	margin-top:30px;}	
.margin-top50{
	margin-top:50px;}	
.margin-auto{
	margin:0 auto;}
.margin-bottom50{
	margin-bottom:50px;}
.ow-show-modal .modal-content-css{
	background-color:black !important;}
.search-btn {
    background: transparent;
    border: 0;
}
.filter-search-ow {
    width: calc(100% - 30px);
}
.shadow-white-box p {
    color: black;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
	margin:0;
}
.star2-p {
    padding-bottom: 5px;
    font-size: 11px;
}
.star-img2{
	width:8px;}
.min-height-foot{
	min-height:calc(100vh - 31px);}
.pure-black-bg{
	background-color:black;}
.product-details-ow {
    padding-top: 50px;
    margin-top: -5px;
}
#none-first{
	margin-top:20px;}
.buy-button {
    background-color: red;
    color: white !important;
	transition:.15s ease-in-out;
}
.buy-button:hover{
	cursor:pointer;
	background-color:#bb0000;}
.cart-button {
    background-color: #ff852e;
    color: white !important;
	transition:.15s ease-in-out;
}
.cart-button:hover{
	cursor:pointer;
	background-color:#ff6a00;	
}
.share-modal-size {
    width: 400px;
}
.addcart{
	margin-top:10px;}

.pet-slider-img {
    max-width: 100%;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: contain;}
.pet-slider-li{
	height4500px;}
@media all and (max-width: 1600px){
.live-iframe {
    height: 600px;
}
.news-image-container {
    height: 250px;}
}
@media all and (max-width: 1550px){
.long-p {
    min-height: 38px;
}
}
@media all and (max-width: 1500px){
.rate-div {
    margin-top: 45px;
}
.win-trophy {
    margin-top: 40px;
}
.copy-btc2 {
    width: 100%;
    margin-left: 0;}
.copy-btc {
    width: calc(100% - 90px);
    margin-left: 0;}
}




@media all and (max-width: 1400px){
.arrow-img {
    width: 70%;
}


}
@media all and (max-width: 1350px){
.news-image-container {
    height: 200px;
}

}
@media all and (max-width: 1300px){
.ping-modal-content {
    width: 50%;}
.ow-show-modal{
	width: 25% !important;
	}
.four-box-size {
    width: calc(31% - 2px);}
}
@media all and (max-width: 1200px){
.live-iframe {
    height: 500px;
}
.result-color-div {
    padding: 20px 10px;}
.bet-team-name {
    font-size: 13px;
}
.price-p {
    font-size: 16px;
	margin-top:0;}
.product-name-p {
    font-size: 13px;
}

.link-container {
    padding: 0;
}
.ow-bluered .arrow-img {
    width: 55%;
}

}
@media all and (max-width: 1150px){
.news-image-container {
    height: 200px;}


}
@media all and (max-width: 1100px){
.news-image-container {
    height: 150px;
}

}
@media all and (max-width: 1050px){
.rate-div {
    margin-top: 30px;
}
.win-trophy {
    margin-top: 30px;
}
.win-png {
    width: 30px;
}
}
@media all and (max-width: 1000px){
.live-iframe {
    height: 400px;
}
.about-us-p {
    width: 75%;}
.register-modal-content {
    width: 70%;}
.ping {
    width: 40%;
}
.ping-modal-content {
    width: 70%;
    margin-top: 100px;
}
.notice-modal-content {
    width: 80%;
    margin-top: calc(50vh - 250px);
}
}
@media all and (max-width: 950px){
.news-image-container {
    height: 150px;}
.news-title {
    font-size: 18px;
}
.news-content-p {
    height: 55px;
    font-size: 14px;
}

}
@media all and (max-width: 900px){
.rate-div {
    font-size: 13px;
    padding: 5px 10px;
}
.win-png {
    width: 20px;
}
.sold-label {
    padding: 3px 5px;
    margin-top: -24px;
    font-size: 12px;
}
.ow-show-modal{
	display:none;}
.ow-filter-pet-data {
    float: none !important;
    width: 100% !important;
    padding-left: 7.5%;
}
.four-box-size {
    width: calc(23% - 2px);
}
.ow-open-filter {
    display: block;
}
.left-align-title {
    float: left;
    font-size: 24px;
    margin-top: 15px;
}
.filter-div {
    margin-top: 25px;
}
.ow-show-modal {
    width: 100% !important;
    margin: 0 !IMPORTANT;
    padding: 20px;
    height: 100vh !important;
    overflow: auto;
    z-index: 99999 !important;
    background-color: black !important;
    top: 0 !important;
    position: absolute !important;
}
.ow-show-modal .close-filter2, .ow-show-modal .filter-border{
	display:block;}
.close-filter2 {
    color: white;
	opacity:0.8;
	transition:.15s ease-in-out;
}
.close-filter2:hover {
	opacity:1;
	cursor:pointer;
	color:white;
}
.ow-show-modal .h2-title {
    margin-bottom: 0;
    font-size: 21px !important;
}
.filter-border {
    margin-bottom: 10px;
}
}
@media all and (max-width: 800px){
.live-iframe {
    height: 300px;
}
.news-big-div {
    margin-bottom: 30px;}
.news-image-container {
    height: 120px;
}
.box-value {
    font-weight: 700;
    font-size: 21px;
}
.ow-bluered {
    margin-bottom: 10px !important;
}
.bet-button {
    width: 110px;
    padding: 3px;}
.input-name {
    font-size: 15px;}
}
@media all and (max-width: 710px){
.box-p {
    min-height: 40px;
}
}
@media all and (max-width: 700px){
.team-logo {
    width: 80%;
}
.arrow-img {
    width: 100%;
}
.news-image-container {
    height: 120px;}
.news-content {
    padding: 10px 18px;
}
.rate-div2 {
    margin-left: 5px;
}
.rate-div1{
	margin-right:5px;}
.left-contact-div {
    width: 100%;
    float: none;
    padding-right: 0;
    text-align: center;
}
.contact-p{
	text-align-last: center;
}
.right-contact-div {
    width: 100%;
    float: none;
    padding-left: 0;
}
.ping-modal-content {
    width: 85%;}
.ping-coin {
    width: 50%;
}
.copy-btn {
    font-size: 16px;
    padding: 10.5px 20px;}
.line-header {
    font-size: 27px;
}
}




@media all and (max-width: 650px){
.bet-team-name {
    font-size: 11px;
}
.rate-div1 {
    margin-left: 10px;
}
.rate-div2 {
    margin-right: 10px;
}
.news-image-container {
    height: 100px;
}
.login-header .menu-item{
	display:none;}
.dl-menuwrapper {
    display: block;
    margin-top: -30px;
}
.receipt-img {
    width: 100%;
}
.red-button, .green-button {
    width: 100%;
    margin-bottom: 15px;
    float: none;
    margin-left: 0;}
.topup-modal-content {
    width: 90%;
}
}

@media all and (max-width: 600px){
.three-div-width {
    float: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}	
.div1 {
    padding-bottom: 30px;
}
.about-us-p {
    width: 100%;
}
.register-modal-content {
    width: 85%;
}
.table-css {
    font-size: 14px;
}
.repeat-four-width-div {
    width: 30.2%;}
.ow-bluered .team-logo {
    width: 20%;
}
.ow-bluered .arrow-img {
    width: 100%;
}
.bet-button {
	width:85px;
    font-size: 12px;
    font-weight: 700;
}
.line-header {
    font-size: 24px;
}
.topup-modal-content {
    width: 90%;
}
.four-box-size {
    width: calc(31% - 2px);
}
.share-modal-size {
    width: 80%;
}
}
@media all and (max-width: 550px){
.news-image-container {
    height: 80px;}
.win-trophy {
    margin-top: 0;
    width: 100%;
    text-align: center;
}
.rate-div{
	margin-top:0;}
.win-trophy {
    margin-top: 0;
    margin-left: 25px;
	text-align:left;
}
.div2a .win-trophy {
	text-align:right;
    margin-right: 20px;
	margin-left:0;}
.dual-button {
    float: left !important;
    width: 130px !important;
    font-size: 16px !important;
   margin-left: calc(50% - 135px) !important;
}
.second-dual-button {
    margin-left: 10px !important;
}
.vip-upgrade{
    font-size: 16px;	
}
.ow-game-logo .game-logo-div {
    margin-right: 12%;
	width: 16%;
}
.ow-game-logo .last-game-logo {
    margin-right: 0;
}
}
@media all and (max-width: 500px){
.live-iframe {
    height: 220px;
}
.rate-div {
    font-size: 10px;
    padding: 3px;
	margin-right:0;
	margin-left:0;
}
.news-big-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;}
.news-image-container {
    height: 150px;}
.win-trophy {
    margin-left: 5px;
}
.div2a .win-trophy {
	margin-right:5px;}
.explain-p {
    font-size: 18px;
}
.ping {
    width: 70%;
}
.goback-btn{
	width:100%;}
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;
}
.long-p {
    min-height: 0;
}
.ow-bluered {
    padding: 10px 5px !important;
	width: 114%;
    margin-left: -7%;
}
.table-css {
    font-size: 12.5px;
}
.table-css th, .table-css td  {
    padding: 3px 4px;}
.line-header {
    font-size: 21px;
}
.btcaddress {
    font-size: 13px;
}
}
@media all and (max-width: 480px){
.box-img {
    width: 50%;
}
.box-p {
    min-height: 34px;
    font-size: 14px;
}
.box-value {
    font-weight: 600;
    font-size: 18px;
}
}
@media all and (max-width: 450px){
.repeat-four-width-div {
    width: 45%;
    margin-right: 5%;
}

}
@media all and (max-width: 440px){
.box-p {
    font-size: 12px;
}
.box-value {
    font-size: 16px;
}
.box-css {
    padding: 10px;
	border-radius: 5px;
}
}
@media all and (max-width: 400px){
.three-div-width {	
	width: 100%;}
.news-image-container {
    height: 120px;
}
.line-header {
    font-size: 18px;
}
.menu-margin-right {
    margin-right: 5px;}
.menu-item {
    font-size: 12px;
}
}
@media all and (max-width: 350px){
.rate-div {
    margin-top: 20px;
}	
.result-color-div {
    padding: 10px 5px;
}	
	
}
@media all and (max-width: 320px){
.box-p {
    min-height: 45px;	}
.dual-button {
    float: left !important;
    width: 110px !important;
    font-size: 14px !important;
    margin-left: calc(50% - 115px) !important;
}
.second-dual-button {
    margin-left: 10px !important;
}
}
